body {
    margin-right: 25px;
    margin-left: 25px;
    height: 100%;
    background-color: #23586E;
    color: #FFFFF2;
}

nav {
    color: #FFA3AF;
    text-decoration: none;
    font-weight: bold;
    font-family: "Trebuchet MS";
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

nav a {
    color: #FFA3AF;
    text-decoration: none;
    font-weight: bold;
    font-family: "Trebuchet MS";
    font-size: 25px;
}

nav a:hover {
    color: #fa788a;
    text-decoration: underline;
}

#strana {
    position: relative;
}

#overlay-image {
    height: 500px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    pointer-events: none;
}

#text-flow-mask {
    height: 330px;
    float: right;
    shape-outside: url(src/blahaj-icon-mask.png);
    shape-margin: 10px;
}

#hlavicka {
    background-color: #4380A4;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 150px;
}

#hlavicka p {
    color: #FFFFF2;
    text-transform: uppercase;
    padding-top: 30px;
    padding-left: 40px;
    font-size: 75px;
    font-weight: bold;
    width: 50%;
    font-family: "Garamond";
    margin: 0px;
}

article {
    background-color: #7CB3D3;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

article p {
    font-family: "Trebuchet MS";
    font-size: 22px;
    text-align: justify;
    line-height: 1.4;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-right: 40px;
}

article a {
    font-size: 20px;
    text-decoration: none;
    color: #FFFFF2;
}

article a:hover {
    text-decoration: underline;
}