body {
    margin-right: 25px;
    margin-left: 25px;
    height: 100%;
    background-color: #23586E;
    color: #FFFFF2;
}

nav {
    color: #FFA3AF;
    text-decoration: none;
    font-weight: bold;
    font-family: "Trebuchet MS";
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

nav a {
    color: #FFA3AF;
    text-decoration: none;
    font-weight: bold;
    font-family: "Trebuchet MS";
    font-size: 25px;
}

nav a:hover {
    color: #FFA3AF;
    text-decoration: underline;
    font-weight: bold;
    font-family: "Trebuchet MS";
    font-size: 25px;
}

#hlavicka {
    background-color: #4380A4;
    color: #FFFFF2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 150px;
    border: #E1F4FF 2px;
    text-transform: uppercase;
}

#nadpis {
    height: 150px;
}

#nadpis p {
    padding-top: 30px;
    padding-left: 40px;
    font-size: 75px;
    font-weight: bold;
    width: 50%;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    text-align: left;
    font-family: "Garamond";
    margin: 0px;
}

body img {
    height: 500px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    pointer-events: none;
}

#obsah {
    background-color: #7CB3D3;
    height: 450px;
    padding-left: 40px;
    padding-top: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    clear: right;
}

article p {
    font-family: "Trebuchet MS";
    font-size: 22px;
    text-align: justify;
    line-height: 1.4;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-right: 40px;
}

#strana {
    position: relative;
}

/* img {
    display: block;
    margin-left: auto;
    position: absolute;
} */